<div class="row">
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                
                <div class="col s8">
                    <h1>{{resume.name}}</h1>
                    <h4>{{resume.title}}</h4>
                    <span class="grey-text text-darken-1">
                        <strong>Contact: </strong> {{resume.contact.phone}} / {{resume.contact.email}}
                    </span><br/>
                    <span class="grey-text">{{resume.contact.address}}</span><br>
                    <div class="chip green lighten-2" v-for="skill in resume.skills">
                        {{skill}}
                    </div>
                </div>
                <div class="align-right col right s3">
                    <img src="{{resume.photo_url}}" alt="" class="circle responsive-img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s12 flow-text">{{resume.about}}</div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <h2 class="header">Work Examples</h2>
    <table class="striped">
        <tbody>
            <tr v-for="example in resume.works">
                <td>{{example.name}}</td>

                <td><a href="{{example.url}}">{{example.url}}</a></td>
                <td><div class="chip" v-for="skill in example.responsibilities">{{skill}}</div></td>
            </tr>
        </tbody>
    </table>
</div>



<div class="row">
    <h2 class="header">Work History</h2>
    <table class="striped">
        <thead>
            <tr>
                <th>Company</th>
                <th>Responsibilities</th>
                <th>Achievements</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="experience in resume.experiences">
                <td>
                    <span class="blue-grey-text text-darken-1 company">{{experience.company}}</span><br>
                    <span class="designation">{{experience.designation}}</span><br>
                    <span>{{experience.timeline.from}} to {{experience.timeline.to}}</span>
                </td>

                <td>{{experience.summary.responsibilities}}</td>
                <td>{{experience.summary.achievements}}</td>
            </tr>
        </tbody>
    </table>
</div>



<script>
var apiURL = '/resume/babar.json' // Maybe Make this dynamic
var app = new Vue({
    el: 'main',

    data: {
        resume: null
    },

    created: function() {
        this.fetchData()
    },

    methods: {
        fetchData: function () {
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function () {
                self.resume = JSON.parse(xhr.responseText)
            }
            xhr.send()
        }
    }
})
</script>
<style>
h1 {letter-spacing: -4px}
.chip {margin-right: 3px;}
.company { font-size: 20px; }
</style>
