<!DOCTYPE HTML>
<html>
    <head>
        <title>JSON Resume demo of Babar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.15/vue.min.js"></script>
    </head>

    <body>
        <main>
            <div class="container"><%= yield %></div>
        </main>

        <footer class="page-footer gray darken-3">
            <div class="footer-copyright">
                <div class="container">All rights reserved!</div>
            </div>
        </footer>

        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
        </style>
    </body>
</html>
